.first{
    @include height();
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: $section1-color;
    margin-top: 50px;
    .left-first{
        width: $first-width;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h1{
            font-size: $font-sizeh1;
        }
        h5{
            font-size: $font-sizeh5;
        }
        .button{
            display: flex;
            flex-direction: row;
            margin:0;
            .btn{
                margin: 0 20px;
                i,
                p{
                    color: white;
                }
            }
        }
        .email-top{
            width: 600px;
        }
    }
    .right-first{
        width: $first-width;
        @include centerPosition();
        img{
            @include image(600px);
        }
    }
}

.second,
.third,{
    @include height(800px);
    background-color: $section2-color;
    @include centerPosition();
    .second-container,
    .third-container{
        width:1000px;
        border:1px solid $border-color;
        border-style: hidden hidden solid hidden;
        text-align: center;
        padding-bottom: 50px;
        h3{
            font-size: $font-sizeh3;
        }
        .three-image{
            @include sizes(250px, 700px);
            @include centerPosition();
            .image-with-text{
                width:200px;
                display: flex;
                flex-direction: column;
                img{
                    @include image(150px);
                }
            }
        }
        .single-image{
            @include sizes(250px, 300px);
            margin-bottom: 100px;
            img{
                @include image(250px);
            }
        }
    }
    .third-container{
        border-style: hidden hidden hidden hidden;
    }
}

.fourth{
    @include height();
    display: flex;
    align-items: center;
    background-color: $section1-color;
    .fourth-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1300px;
        .image-data{
            width: 50%;
            img{
                @include image(600px);
            }
        }
        .text{
            width: 50%;
            .sx,
            .dx{
                width: 400px;
            }
            .sx{
                float:right;
            }
            .dx{
                float: left;
            }
            img{
                @include image(250px);
            }
        }
    }
}

.five{
    @include height();
    @include centerPosition();
    background-color: $section2-color;
    .container-five{
        h2{
            font-size: 40px;
            text-align: center;
        }
        .virgolette{
            @include sizes(60px, 60px);
            position: absolute;
        }
        .empty-container{
            @include sizes(380px, 600px);
            background-color: $section1-color;
            border: 1px solid $border-color;
            border-radius: 10px;
            padding: 30px 30px;
            font-size: 16px;
            margin: 30px 0;
            .profile-team{
                width: 150px;
                float: left;
                img{
                    @include image(50px);
                    margin-top: 20px;
                    margin-left: 5px;
                }
            }
            .profile-team-name{
                width: 130px;
                float: left;
                margin-top: 15px;
                .name{
                    color: $btn-first-color;

                }
            }
        }
        .button-bottom{
            width: 450px;
            display: flex;
            flex-direction: row;
        }
        .bottom-email{
            text-align: center;
            margin-top: 20px;
        }
    }
}
