.first{
    height: 600px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: $section1-color;
    margin-top: 50px;
    .left-first{
        width: $first-width;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h1{
            font-size: $font-sizeh1;
        }
        h5{
            font-size: $font-sizeh5;
        }
        .button{
            display: flex;
            flex-direction: row;
            margin:0;
            .btn{
                margin: 0 20px;
                i,
                p{
                    color: white;
                }
            }
        }
        .email-top{
            width: 600px;
        }
    }
    .right-first{
        width: $first-width;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 600px;
            width: 600px;
            object-fit: contain;
        }
    }
}

.second,
.third,{
    height: 800px;
    background-color: $section2-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .second-container,
    .third-container{
        width:1000px;
        border:1px solid $border-color;
        border-style: hidden hidden solid hidden;
        text-align: center;
        padding-bottom: 50px;
        h3{
            font-size: $font-sizeh3;
        }
        .three-image{
            height: 250px;
            width: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            .image-with-text{
                width:200px;
                display: flex;
                flex-direction: column;
                img{
                    height: 150px;
                    width: 150px;
                    object-fit: contain;
                }
            }
        }
        .single-image{
            height: 250px;
            width: 300px;
            margin-bottom: 100px;
            img{
                height: 250px;
                object-fit: contain;
            }
        }
    }
    .third-container{
        border-style: hidden hidden hidden hidden;
    }
}

.fourth{
    height: 600px;
    display: flex;
    align-items: center;
    background-color: $section1-color;
    .fourth-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1300px;
        .image-data{
            width: 50%;
            img{
                height: 600px;
                width: 600px;
                object-fit: contain;
            }
        }
        .text{
            width: 50%;
            .sx,
            .dx{
                width: 400px;
            }
            .sx{
                float:right;
            }
            .dx{
                float: left;
            }
            img{
                height: 250px;
                width: 250px;
                object-fit: contain;
            }
        }
    }
}

.five{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $section2-color;
    .container-five{
        h2{
            font-size: 40px;
            text-align: center;
        }
        .virgolette{
            width: 60px;
            height: 60px;
            position: absolute;
        }
        .empty-container{
            height: 380px;
            width: 600px;
            background-color: $section1-color;
            border: 1px solid $border-color;
            border-radius: 10px;
            padding: 30px 30px;
            font-size: 16px;
            margin: 30px 0;
            .profile-team{
                width: 150px;
                float: left;
                img{
                    height: 50px;
                    width: 50px;
                    object-fit: contain;
                    margin-top: 20px;
                    margin-left: 5px;
                }
            }
            .profile-team-name{
                width: 130px;
                float: left;
                margin-top: 15px;
                .name{
                    color: $btn-first-color;

                }
            }
        }
        .button-bottom{
            width: 450px;
            display: flex;
            flex-direction: row;
        }
        .bottom-email{
            text-align: center;
            margin-top: 20px;
        }
    }
}
