$section1-color: white;
$section2-color:#ffe7d2;
$hover-color: blue;
$default_color_text: #58402c;
$font-style: 'Montserrat';
$border-color: #30488f;
$btn-first-color: #30488f;
$btn-first-hover: #0e2055;
$font-sizeh1: 50px;
$font-sizeh5: 30px;
$font-sizeh3:38px;
$first-width: (1300px / 2);
$footer-width-left: (1300px - 900px);
$footer-width-right: (1300px - 400px);
